compressai==1.2.4
-e git+https://github.com/XuandongZhao/WatermarkAttacker.git@0ea2c6a463ce784fd40921883eb24007841fc8bc#egg=diffusers
huggingface-hub==0.16.4
keras==2.13.1
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.23.5
pandas==2.0.3
Pillow==9.5.0
pytorch-fid==0.3.0
pytorch-lightning==1.7.7
pytorch-msssim==1.0.0
pytz==2023.3
PyYAML==6.0.1
SciencePlots==2.1.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
tensorboard==2.13.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
torch==1.12.1+cu113
torch-tb-profiler==0.4.1
torchmetrics==0.6.0
torchsummary==1.5.1
torchvision==0.13.1+cu113
tqdm==4.66.1
transformers==4.34.0